<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pf.module_home">

    <application
        android:name=".HomeApplication"
        android:allowBackup="true"
        android:label="@string/home_app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".GuideActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
